*.o
test_ecdsa
test_ecdsa_asm
test_ecdsa_bc
test_ecdsa_fast
test_ecdsa_small
test_fast
test_wycheproof
test_wycheproof_asm
test_wycheproof_bc
test_wycheproof_fast
bench_bc
bench_fast
/tmp/
tv_ecdsa_fast.S.bak*
sign_vectors.h
